<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ locale | direction }}">
<head>
    <meta charset="utf-8">
    <title>{{ title ?? 'eTraxis' }}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
</head>
<body>
{% block content %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>
