parameters:

    database_host:      127.0.0.1
    database_port:      ~
    database_name:      etraxis
    database_user:      root
    database_password:  ~

    mailer_transport:   smtp
    mailer_host:        127.0.0.1
    mailer_port:        ~
    mailer_encryption:  ~
    mailer_user:        ~
    mailer_password:    ~
    mailer_delivery:    ~

    mailfrom_address:   etraxis@example.com
    mailfrom_name:      eTraxis

    locale:             en_US

    secret:             ThisTokenIsNotSoSecretChangeIt
